<web-app>
	
	<servlet>
		<servlet-name> voter </servlet-name>
		<servlet-class> com.vb.servlet.VoterServlet </servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name> voter </servlet-name>
		<url-pattern> /voterurl </url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file> index.html</welcome-file>
	</welcome-file-list>
</web-app>